.project-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: var(--space-md);
    width: 100%;
    margin-top: var(--space-md);
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 3rem;
}

@media (max-width: 1000px) {
    .two-column {
        grid-template-columns: 1fr;
    }

    .project-grid {
        flex-wrap: wrap;
    }
}
