@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: indivisible-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 700;
    letter-spacing: -0.5px;
}

.fancy {
    font-family: "Platypi", serif;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: indivisible-variable, sans-serif;
    font-style: normal;
}

h1 {
    font-variation-settings: "wght" 900;
    letter-spacing: -0.05em;
}

h2 {
    font-variation-settings: "wght" 700;
    letter-spacing: -1px;
}

/* Text utilities */
.text-light {
    font-variation-settings: "wght" 400;
}

.text-medium {
    font-variation-settings: "wght" 500;
}

.text-bold {
    font-variation-settings: "wght" 700;
}

.text-black {
    font-variation-settings: "wght" 900;
}

/* Page title */
.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 100px 0 8px 0;
    padding: 0 20px;

}

.page-title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: #111;
    line-height: 1.05;

}

.page-subtitle {
    margin: 8px 0 0 0;
    color: #666;
    font-size: 1.05rem;
}